body {
    background: linear-gradient(135deg,hsl(217, 96%, 61%), #fad0c4, #ff9a9e );
    background-size: 200% 200%;
    animation: gradientFlow 10s ease infinite;
    height: 100vh;
    margin: 0;
      }
  
  @keyframes gradientFlow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  nav{
    display: flex;
    background-color: white;
    justify-content: end;
    position: relative;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
background-color: hsl(13, 84%, 87%);
    ul{
      display: flex;
      list-style-type: none;
      padding-right: 20px;
      height: 100%;
      margin: 0;
      li{
        padding: 13px 13px;
        cursor: pointer ;

      }
      li:hover{
        background-color: hsl(13, 84%, 77%);


      }
      #BudgetMe{
        position: absolute;
        left: 10px;
      }

    }
  }
#Options{
  display: none;
}
@media (max-width:700px) {
  nav{
    position: fixed;
    z-index: 999;
    top:0px;
    height:100vh;
    width: 40%;
    display: none;

    ul{
      flex-direction: column;
      height:70%;
      top: 0px;
      justify-content: space-around;
      padding: 0px;
      width: 100%;

      li{
        margin: 0px;
        left: 0px;
        padding-left: 20px;
    
    }
      #BudgetMe{
        position: relative;
        left: 0;

    }

  
    }

    }
    #Options{
      display: block;
      position: absolute;
      left:2%;
      top:0%
    }
  }