.BudgetContainer{
    position: absolute;
    top: 10%;
    height: auto;
    width: 25%;
    min-height: 30%;
    display: flex;
    flex-direction: column;

    background-color: hsl(19, 84%, 82%);
    right:8%;
    padding: 10px;
    border-radius: 20px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);

    p{
        cursor:pointer;
    }
    

}
@media (min-width:1920px) {
    .BudgetContainer{
        font-size: 1.3em;
    }
    
}
@media (max-width:700px){
    .BudgetContainer{
        height: auto;
        width:70% ;
        position: relative;
        left:10%;
        margin-bottom: 200px;
    }


}

.BudgetPage .BudgetContainer{
    left: 5%;
    height: 40%;
    justify-content: space-around;
    font-size: 1.1rem;
    input{
        width: 50%;

    }
    button{
        width: 50%;
    }
    
}