.ExpensesContainer{
    position: absolute;
    max-height: 80%;
    overflow: scroll;
    left: 27%;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap:20px;
    top: 10%;
    

}
.SingleExpenseContainer{
    background-color: white;
    padding-left: 10px;
    border-radius: 30px;
    position: relative;
    height:auto;
    border:5px solid hsl(19, 84%, 72%);
    button{
        position: absolute;
        right: 15%;
        top: 40%;
        padding: 15px;
        border-radius: 15px;
        cursor: pointer;
    }

}
::-webkit-scrollbar {
    display: none;
  }