.ExpensesContainer{
    position: absolute;
    overflow: scroll;
    left: 32%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap:20px;
    top: 15%;
    height: 95%;
    align-items: center;

    

}
#filterSelect{
        height: 15%;
        max-height: 30px;
        width: 10%;
        border-radius: 10px;
        border: 5px solid hsl(19, 84%, 72%);
        left: 30%;
        position: relative;
        top: 10%;
        left: 41%;
    }
.SingleExpenseContainer{
    background-color: white;
    width: 90%;
    padding-left: 10px;
    border-radius: 30px;
    position: relative;
    height:auto;
    border:5px solid hsl(19, 84%, 72%);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);

    button{
        position: absolute;
        right: 10%;
        top: 35%;
        padding: 15px;
        border-radius: 15px;
        cursor: pointer;
        font-size: 1.5em;
    }

}
::-webkit-scrollbar {
    display: none;
  }

@media (max-width:1000px) {
    .ExpensesContainer{
        width: 80%;
        position: relative;
        top: auto;
        margin: 20px;
        left:6%;
    }
    .expensesPage .ExpensesContainer{
        overflow: scroll;
        height: 10%;


    }
    
}
@media(max-width:1400px){
    .SingleExpenseContainer{
        button{
            right: 3%;
            top: 8%;
            font-size: 1em;
        }
    }
}
/*W podstronie*/ 
.expensesPage .ExpensesContainer{
    top: 10%;
    height: 85% !important;
}