.ExpensesContainer{
    position: absolute;
    max-height: 80%;
    overflow: scroll;
    left: 32%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap:20px;
    top: 10%;
    align-items: center;
    select{
        height: 15%;
        width: 40%;
        border-radius: 10px;
        border: 5px solid hsl(19, 84%, 72%);
    }
    

}
.SingleExpenseContainer{
    background-color: white;
    width: 90%;
    padding-left: 10px;
    border-radius: 30px;
    position: relative;
    height:auto;
    border:5px solid hsl(19, 84%, 72%);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);

    button{
        position: absolute;
        right: 15%;
        top: 40%;
        padding: 15px;
        border-radius: 15px;
        cursor: pointer;
    }

}
::-webkit-scrollbar {
    display: none;
  }

@media (max-width:700px) {
    .ExpensesContainer{
        width: 80%;
        position: relative;
        top: auto;
        margin: 20px;
        left:6%;
    }
    
}